@model IEnumerable<PTUDTMDT.Models.category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="col-lg-4 ml-4">
    <h2>Danh sách danh mục</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Tên</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>
                <tr>

                    <td >@item.name</td>
                    <td>
                        <a href="@Url.Action("Edit","categories",new {id = item.category_id})" class="btn btn-success"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("Delete","categories",new {id = item.category_id})" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>

            </tbody>
        }

    </table>
</div>

