@model PTUDTMDT.Models.shipment
@{
    ViewBag.Title = "AddShip";
    PTUDTMDT.Models.customer c = ViewBag.customer as  PTUDTMDT.Models.customer;
}



@using (Html.BeginForm())
{
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" value="@c.first_name">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" value="@c.last_name">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Email</label>
                            <input class="form-control" type="text" value="@c.email">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Ngày giao</label>
                            <input class="form-control" id="shipment_date" type="date">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Địa chỉ</label>
                            <input class="form-control" id="address" type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Thành phố</label>
                            <input class="form-control" id="city" type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Tình trạng</label>
                            <select class="custom-select" id="status">
                                <option value="Đang giao" selected>Đang giao</option>
                                <option value="Giao thành công">Giao thành công</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <input class="form-control" id="country" type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" id="zip_code" type="text">
                        </div>

                        <div class="col-md-6 form-group">
                            <input class="form-control" id="customer_id" type="hidden" value="@c.customer_id">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}